@inherits LayoutComponentBase

<MainLayout>
    <LogoContent>
        <AppLogo />
    </LogoContent>
    <TitleContent>
        <Typography
            Style="flex-grow: 1; margin-left: 20px;"
            Variant="@TypographyVariant.H6"
            NoWrap>
            Skclusive Dashboard
        </Typography>
    </TitleContent>
    <ActionsContent>
        <Hidden
            MediumDown
            Context="HiddenContext">
            <div
                Class="@HiddenContext.Class">
                <IconButton
                    Color="@Color.Inherit"
                    OnClick="@HandleNotificationsClick">
                    <Badge
                        Badge="@Notifications"
                        Color="@Color.Primary"
                        Variant="@BadgeVariant.Dot">
                        <NotificationsOutlinedIcon />
                    </Badge>
                </IconButton>
                <IconButton
                    Class="FullLayout-Signout"
                    Color="@Color.Inherit"
                    OnClick="@HandleSignoutClick">
                    <InputIcon />
                </IconButton>
            </div>
        </Hidden>
    </ActionsContent>
    <SidebarContent>
        <Profile
            Name="Shen Zhi"
            Avatar="./_content/IoTSharp.App.View/images/avatars/avatar_11.png"
            Bio="Brain Director">
        </Profile>
        <Divider
            Class="FullLayout-Divider" />
        <Navigation
            Class="FullLayout-Navigation"
            Items="@Items">
        </Navigation>
    </SidebarContent>
    <BodyContent>
        @Body
    </BodyContent>
    <FooterContent>
        <Footer
            DomainName="Skclusive Io"
            DomainUrl="https://skclusive.io/"
            Copyright="2020">
            Created with love for the environment. By designers and developers who
            love to work together in offices!
        </Footer>
    </FooterContent>
</MainLayout>

@code
{
     private List<NavigationItem> Items = new List<NavigationItem>
    {
        new NavigationItem
        {
            Title = "Dashboard",
            Path = "dashboard",
            Icon = @<DashboardIcon />,
            Prefix = false
        },

        new NavigationItem
        {
            Title = "Users",
            Path =  "users",
            Icon =  @<PeopleIcon />,
            Prefix =  true
        },

        new NavigationItem
        {
            Title = "Products",
            Path = "products",
            Icon = @<ShoppingBasketIcon />,
            Prefix = true
        },

        new NavigationItem
        {
            Title = "Account",
            Path =  "account",
            Icon =  @<AccountBoxIcon />,
            Prefix =  true
        },

        new NavigationItem
        {
            Title = "Settings",
            Path =  "settings",
            Icon =  @<SettingsIcon />,
            Prefix =  true
        },

        new NavigationItem
        {
            Title = "Typography",
            Path =  "typography",
            Icon =  @<TextFieldsIcon />,
            Prefix =  true
        },

        new NavigationItem
        {
            Title = "Authentication",
            Path =  "signin",
            Icon =  @<LockOpenIcon />,
            Prefix =  true
        }
    };

    private string Notifications { set; get; } = "10";

    private void HandleNotificationsClick()
    {
        // OnNotificationsClick?.Invoke();
    }

    private void HandleSignoutClick()
    {
        // OnSignoutClick?.Invoke();
    }
}
