@page "/settings"

<div class="settings-root">
    <Grid
        Container
        Spacing="@Spacing.Four">
        <Grid
            Item
            Medium="@GridSize.Seven"
            ExtraSmall="@GridSize.Twelve">
            <SettingsNotification />
        </Grid>
        <Grid
            Item
            Medium="@GridSize.Five"
            ExtraSmall="@GridSize.Twelve">
            <SettingsPassword />
        </Grid>
    </Grid>
</div>