<Card Class="settings-password-root">
    <form>
        <CardHeader
            Subheader="Update password"
            Title="Password" />
        <Divider />
        <CardContent>
            <TextField
                FullWidth
                Type="password"
                Label="Password"
                Margin="@Margin.Dense"
                Name="Password"
                Required="true"
                Value="@Values.Password"
                Variant="@TextFieldVariant.Outlined" />
            <TextField
                Style="margin-top: 1rem;"
                FullWidth
                Type="password"
                Label="Confirm password"
                Margin="@Margin.Dense"
                Name="Confirm"
                Required="true"
                Value="@Values.Confirm"
                Variant="@TextFieldVariant.Outlined" />
        </CardContent>
    <Divider />
    <CardActions>
        <Button
            Color="@Color.Primary"
            Variant="@ButtonVariant.Outlined">
            Update
        </Button>
    </CardActions>
    </form>
</Card>

@code
{
    private (string Password, string Confirm) Values = (
        Password: "",
        Confirm: ""
    );
}
